:root {
  --blockSize: 64px;
  --sky: #8ebef5;
  --bgBrightness: 50%;
}

.block {
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  width: var(--blockSize);
  height: var(--blockSize);
  background-color: #f0f;
}

.sky {
  background-color: var(--sky);
}

.grassBlock {
  background-image: url("img/textures/grass-block.png");
}

.dirt {
  background-image: url("img/textures/dirt.png");
}

.stone {
  background-image: url("img/textures/stone.png");
}

.stoneCoal {
  background-image: url("img/textures/coal-stone.png");
}
